/*
====================================
Medium Screen - Others
====================================
*/

@media screen and (min-width: 1400px) and (max-width: 1700px) {
  .hmhost_wrapper {
    max-width: 915px;
    margin-top: -86px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .menu_left ul li a {
    margin-right: 18px;
  }

  .logo a img {
    display: inline-block;
    width: 80px;
  }

  .menu_right ul li a {
    margin-right: 0;
    margin-left: 18px;
  }

  .headfiff {
    font-size: 32px;
  }

  .hmhost_wrapper {
    margin-top: -20px;
  }

  .arrow span#left {
    top: 40%;
    left: 11.5%;
  }

  .arrow span#right {
    top: 40%;
    right: 11.5%;
  }

  .hmlink {
    max-width: 280px;
  }

  .footer_wrapper {
    padding: 0px 0px;
  }

  .footer_left a img {
    width: 115px;
  }

  .footer_right img {
    width: 135px;
  }

  .footer_middl {
    margin-left: 0;
  }

  .footer_bottom_section,
  .copyright p {
    margin-left: 284px;
  }

  .reslider_right {
    padding-left: 0px;
  }

  .main_heading {
    font-size: 38px;
  }

  .reslider_right p {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .reslider_right a {
    color: #d7aa93;
    border-color: #d7aa93;
    letter-spacing: 1px;
  }

  .resnai_left_wrapper {
    padding-right: 0;
    padding-left: 15px;
  }

  .resnai_right {
    padding-left: 40px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .menu_left ul li a {
    margin-right: 18px;
  }

  .logo a img {
    display: inline-block;
    width: 80px;
  }

  .menu_right ul li a {
    margin-right: 0;
    margin-left: 18px;
  }

  .headfiff {
    font-size: 32px;
  }

  .hmhost_wrapper {
    margin-top: -20px;
  }

  .arrow span#left {
    top: 40%;
    left: 11.5%;
  }

  .arrow span#right {
    top: 40%;
    right: 11.5%;
  }

  .hmlink {
    max-width: 280px;
  }

  .footer_wrapper {
    padding: 0px 0px;
  }

  .footer_left a img {
    width: 115px;
  }

  .footer_right img {
    width: 135px;
  }

  .footer_middl {
    margin-left: 0;
  }

  .footer_bottom_section,
  .copyright p {
    margin-left: 200px;
  }

  .reslider_right {
    padding-left: 0px;
  }

  .main_heading {
    font-size: 38px;
  }

  .reslider_right p {
    font-size: 16px;
    margin-bottom: 35px;
  }

  .reslider_right a {
    color: #d7aa93;
    border-color: #d7aa93;
    letter-spacing: 1px;
  }

  .resnai_left_wrapper {
    padding-right: 0;
    padding-left: 15px;
  }

  .resnai_right {
    padding-left: 40px;
  }
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hmhero_left {
    width: 100%;
    margin-top: -45px;
    padding-left: 40px;
  }

  .hmhero_wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrow span#left {
    top: 30%;
    left: 5%;
  }

  .arrow span#right {
    top: 30%;
    right: 5%;
  }

  .hmhero_left p {
    font-size: 22px;
  }

  .headfiff {
    font-size: 35px;
  }

  .hmlink {
    max-width: 265px;
    font-size: 14px;
    padding: 8px;
  }

  .hmhero_left h2 {
    margin-top: 10px;
    margin-bottom: 18px;
  }

  .hmhost_wrapper {
    margin-top: -12px;
  }

  .hmhost_wrapper img {
    display: inline-block;
    width: 120px;
  }

  .main_heading {
    font-size: 22px;
    margin-top: 15px !important;
    margin-bottom: 6px !important;
  }

  .hmhost_wrapper p {
    font-size: 16px;
    line-height: 1.2;
  }

  #hmhost {
    padding-bottom: 30px;
  }

  .pmslider_item p.roomsize {
    display: none;
  }

  .pmslide_wrapper {
    position: inherit;
    left: inherit;
    bottom: inherit;
    text-align: center;
  }

  .pmslide_cnt p {
    padding-right: 0;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 8px;
    color: #561200;
  }

  .pmslide_cnt h3 {
    font-size: 22px;
    color: #561200;
  }

  #pmslider .hmlink {
    max-width: 230px;
  }

  .pmslide_cnt {
    margin-top: 20px;
    padding: 0px 25px;
  }

  .arrow span img {
    width: 13px;
  }

  .pmslideLink {
    margin-right: 0;
  }

  .pmslide_cnt a {
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #pmfecti {
    padding: 35px 0px;
  }

  .pmfecti_list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }

  .pmfectti_list_group ul li a {
    font-size: 16px;
    padding: 4px 2px;
  }

  .pmfectti_list_group {
    margin-top: 15px;
  }

  .pmlocation_heading p {
    font-size: 15px;
    margin-top: 25px;
  }

  .pmlocationbox {
    padding: 0;
    flex-wrap: wrap;
  }

  .pmlob_item p {
    font-size: 16px;
    letter-spacing: 0px;
  }

  .pmlob_item {
    width: 45%;
  }

  #map img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .rsbg .hmhero_wrapper {
    top: 0;
  }

  #reslider {
    padding-top: 0;
    overflow: hidden;
  }

  .reslider_left {
    margin-left: -15px;
    margin-right: -15px;
  }

  .res_one_nav span {
    border: 0;
  }

  .res_one_nav span img {
    width: 10px;
  }

  .res_one_nav span {
    top: 35%;
    left: 0%;
  }

  .res_one_nav span#res_one_right {
    right: 0;
  }

  #reslider .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  .reslider_right p {
    font-size: 16px;
    color: var(--redbg);
    margin-top: 8px;
    margin-bottom: 25px;
    line-height: 1.2;
  }

  .reslider_right {
    padding-left: 0px;
    text-align: center;
  }

  .reslider_right a {
    margin: auto;
    max-width: 265px;
  }

  .resnai_left_wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .resnai_left_wrapper p {
    font-size: 16px;
    color: var(--redbg);
    margin-top: 24px;
    line-height: 1.2;
  }

  .resnai_right {
    margin-top: 80px;
  }

  .resnai_para p {
    margin-bottom: 10px;
  }

  .resnai_line {
    display: none;
  }

  #resnai .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  #p3expert .container {
    max-width: 100%;
  }

  .p3slider .pmslide_wrapper {
    bottom: 75px;
  }

  .p3slider .hmlink {
    max-width: 170px !important;
  }

  .p3slider .arrow span#left {
    top: 34%;
  }

  .p3slider .arrow span#right {
    top: 34%;
  }

  .p3pmfecti {
    padding-top: 0 !important;
    margin-top: -20px;
  }

  .p3expert_heading p {
    font-size: 16px;
    line-height: 1.2;
  }

  .p3expert_item_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 25px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .p3expert_item {
    width: 360px;
    min-width: 360px;
  }

  .p3expert_item_wrapper::-webkit-scrollbar {
    display: none;
  }

  .p3expert_item_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  #p3expert {
    padding-top: 20px;
    padding-bottom: 65px;
  }
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {
  .hmhero_left {
    width: 100%;
    margin-top: -45px;
    padding-left: 40px;
  }

  #p3expert .container {
    max-width: 100%;
  }

  .hmhero_wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrow span#left {
    top: 30%;
    left: 5%;
  }

  .arrow span#right {
    top: 30%;
    right: 5%;
  }

  .hmhero_left p {
    font-size: 18px;
  }

  .headfiff {
    font-size: 22px;
  }

  .hmlink {
    max-width: 200px;
    font-size: 14px;
    padding: 8px;
  }

  .hmhero_left h2 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .hmhost_wrapper {
    margin-top: -12px;
  }

  .hmhost_wrapper img {
    display: inline-block;
    width: 120px;
  }

  .main_heading {
    font-size: 22px;
    margin-top: 15px !important;
    margin-bottom: 6px !important;
  }

  .hmhost_wrapper p {
    font-size: 16px;
    line-height: 1.2;
  }

  #hmhost {
    padding-bottom: 30px;
  }

  .pmslider_item p.roomsize {
    display: none;
  }

  .pmslide_wrapper {
    position: inherit;
    left: inherit;
    bottom: inherit;
    text-align: center;
  }

  .pmslide_cnt p {
    padding-right: 0;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 8px;
    color: #561200;
  }

  .pmslide_cnt h3 {
    font-size: 22px;
    color: #561200;
  }

  #pmslider .hmlink {
    max-width: 230px;
  }

  .pmslide_cnt {
    margin-top: 20px;
    padding: 0px 25px;
  }

  .arrow span img {
    width: 13px;
  }

  .pmslideLink {
    margin-right: 0;
  }

  .pmslide_cnt a {
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #pmfecti {
    padding: 35px 0px;
  }

  .pmfecti_list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }

  .pmfectti_list_group ul li a {
    font-size: 14px;
    padding: 4px 2px;
  }

  .pmfectti_list_group {
    margin-top: 15px;
  }

  .pmlocation_heading p {
    font-size: 15px;
    margin-top: 25px;
  }

  .pmlocationbox {
    padding: 0;
    flex-wrap: wrap;
  }

  .pmlob_item p {
    font-size: 16px;
    letter-spacing: 0px;
  }

  .pmlob_item {
    width: 45%;
  }

  #map img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .rsbg .hmhero_wrapper {
    top: 0;
  }

  #reslider {
    padding-top: 0;
    overflow: hidden;
  }

  .reslider_left {
    margin-left: -15px;
    margin-right: -15px;
  }

  .res_one_nav span {
    border: 0;
  }

  .res_one_nav span img {
    width: 10px;
  }

  .res_one_nav span {
    top: 35%;
    left: 0%;
  }

  .res_one_nav span#res_one_right {
    right: 0;
  }

  #reslider .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  .reslider_right p {
    font-size: 16px;
    color: var(--redbg);
    margin-top: 8px;
    margin-bottom: 25px;
    line-height: 1.2;
  }

  .reslider_right {
    padding-left: 0px;
    text-align: center;
  }

  .reslider_right a {
    margin: auto;
    letter-spacing: 1px;
    font-size: 12px;
  }

  .resnai_left_wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .resnai_left_wrapper p {
    font-size: 16px;
    color: var(--redbg);
    margin-top: 24px;
    line-height: 1.2;
  }

  .resnai_right {
    margin-top: 80px;
  }

  .resnai_para p {
    margin-bottom: 10px;
  }

  .resnai_line {
    display: none;
  }

  #resnai .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  .p3slider .pmslide_wrapper {
    bottom: 75px;
  }

  .p3slider .hmlink {
    max-width: 170px !important;
  }

  .p3slider .arrow span#left {
    top: 34%;
  }

  .p3slider .arrow span#right {
    top: 34%;
  }

  .p3pmfecti {
    padding-top: 0 !important;
    margin-top: -20px;
  }

  .p3expert_heading p {
    font-size: 16px;
    line-height: 1.2;
  }

  .p3expert_item_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 25px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .p3expert_item {
    width: 260px;
    min-width: 260px;
  }

  .p3expert_item_wrapper::-webkit-scrollbar {
    display: none;
  }

  .p3expert_item_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  #p3expert {
    padding-top: 20px;
    padding-bottom: 65px;
  }
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
  .hmhero_left {
    width: 100%;
    margin-top: -45px;
    padding-left: 40px;
  }

  .hmhero_left p {
    font-size: 14px;
  }

  .hmhero_wrapper {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrow span#left {
    top: 23%;
    left: 5%;
  }

  .arrow span#right {
    top: 23%;
    right: 5%;
  }

  .headfiff {
    font-size: 22px;
  }

  .hmlink {
    max-width: 200px;
    font-size: 12px;
    padding: 8px;
    letter-spacing: 1px;
  }

  .hmhero_left h2 {
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 22px;
  }

  .hmhost_wrapper {
    margin-top: -12px;
  }

  .hmhost_wrapper img {
    display: inline-block;
    width: 120px;
  }

  .main_heading {
    font-size: 22px;
    margin-top: 15px !important;
    margin-bottom: 6px !important;
  }

  .hmhost_wrapper p {
    font-size: 14px;
    line-height: 1.2;
  }

  #hmhost {
    padding-bottom: 30px;
  }

  .pmslider_item p.roomsize {
    display: none;
  }

  .pmslide_wrapper {
    position: inherit;
    left: inherit;
    bottom: inherit;
    text-align: center;
  }

  .pmslide_cnt p {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 8px;
    color: #561200;
  }

  .pmslide_cnt h3 {
    font-size: 22px;
    color: #561200;
  }

  #pmslider .hmlink {
    max-width: 230px;
  }

  .pmslide_cnt {
    margin-top: 20px;
    padding: 0px 25px;
  }

  .arrow span img {
    width: 13px;
  }

  .pmslideLink {
    margin-right: 0;
  }

  .pmslide_cnt a {
    margin-left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #pmfecti {
    padding: 35px 0px;
  }

  .pmfecti_list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }

  .pmfectti_list_group ul li a {
    font-size: 12px;
    padding: 4px 2px;
  }

  .pmfectti_list_group {
    margin-top: 15px;
  }

  .pmlocation_heading p {
    font-size: 15px;
    margin-top: 25px;
  }

  .pmlocationbox {
    padding: 0;
    flex-wrap: wrap;
  }

  .pmlob_item p {
    font-size: 16px;
    letter-spacing: 0px;
  }

  .pmlob_item {
    width: 45%;
  }

  #map img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .rsbg .hmhero_wrapper {
    top: 0;
  }

  #reslider {
    padding-top: 0;
    overflow: hidden;
  }

  .reslider_left {
    margin-left: -15px;
    margin-right: -15px;
  }

  .res_one_nav span {
    border: 0;
  }

  .res_one_nav span img {
    width: 10px;
  }

  .res_one_nav span {
    top: 35%;
    left: 0%;
  }

  .res_one_nav span#res_one_right {
    right: 0;
  }

  #reslider .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  .reslider_right p {
    font-size: 14px;
    color: var(--redbg);
    margin-top: 8px;
    margin-bottom: 25px;
    line-height: 1.2;
  }

  .reslider_right {
    padding-left: 0px;
    text-align: center;
  }

  .reslider_right a {
    margin: auto;
  }

  .resnai_left_wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .resnai_left_wrapper p {
    font-size: 14px;
    color: var(--redbg);
    margin-top: 24px;
    line-height: 1.2;
  }

  .resnai_right {
    margin-top: 80px;
  }

  .resnai_para p {
    margin-bottom: 10px;
  }

  .resnai_line {
    display: none;
  }

  #resnai .owl-theme .owl-nav.disabled + .owl-dots {
    display: none;
  }

  .p3slider .pmslide_wrapper {
    bottom: 75px;
  }

  .p3slider .hmlink {
    max-width: 170px !important;
  }

  .p3slider .arrow span#left {
    top: 34%;
  }

  .p3slider .arrow span#right {
    top: 34%;
  }

  .p3pmfecti {
    padding-top: 0 !important;
    margin-top: -20px;
  }

  .p3expert_heading p {
    font-size: 14px;
    line-height: 1.2;
  }

  .p3expert_item_wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 25px;
    margin-left: -15px;
    margin-right: -15px;
  }

  .p3expert_item {
    width: 260px;
    min-width: 260px;
  }

  .p3expert_item_wrapper::-webkit-scrollbar {
    display: none;
  }

  .p3expert_item_wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  #p3expert {
    padding-top: 20px;
    padding-bottom: 65px;
  }
}
