@import url(variable.css);
body {
  font-family: "Lucida Grande";
  font-size: 16px;
  font-weight: 400;
  background: #fff;
  color: #333333;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}

.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* -- topheader area start -- */
#topheader {
  background-color: var(--yellowbg);
  padding: 6px 0;
}

.topheader_left ul li {
  display: inline-block;
  font-size: 14px;
  color: var(--white);
}

.topheader_left ul li:last-child {
  color: var(--yeltext);
  margin-left: 50px;
  text-transform: uppercase;
}

.topheader_right ul li {
  display: inline-block;
  font-size: 14px;
}

.topheader_right ul li a {
  color: var(--white);
}

.topheader_right ul li span {
  display: inline-block;
  color: var(--yeltext);
  margin-right: 8px;
}

.topheader_right ul li select {
  display: inline-block;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  margin-left: 50px;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}

.topheader_right ul li select option {
  font-size: 14px;
}

.topheader_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -- topheader area end -- */

/* -- header area start -- */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_left ul li {
  display: inline-block;
}

.menu_left ul li a {
  display: inline-block;
  font-size: 16px;
  color: var(--redbg);
  text-transform: uppercase;
  margin-right: 50px;
  transition: all 0.2s ease;
  position: relative;
}

.menu_left ul li a:hover {
  opacity: 0.7;
}

.menu_right ul li a {
  margin-right: 0;
  margin-left: 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_left ul li a:after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: #f15623;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: all 0.2s ease;
}

.menu_left ul li a.active:after {
  width: 100%;
}

.menu_left ul li a:hover:after {
  width: 100%;
}

.logo a {
  display: inline-block;
}

.logo a img {
  display: inline-block;
  width: 120px;
}

.bar {
  width: 30px;
  cursor: pointer;
}

.bar span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--yellowbg);
  margin: 4px 0px;
  border-radius: 10px;
}

header {
  background-color: var(--yellowwhite);
  padding-bottom: 25px;
  padding-top: 6px;
}
/* -- header area end -- */

/* ============================
    Homepage start
============================ */
/* -- hmhero area start -- */
#hmhero img {
  display: block;
  width: 100%;
}

#hmhero {
  position: relative;
}

.hmhero_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hmhero_left p {
  font-size: 18px;
}

.hmhero_left h2 {
  margin-top: 11px;
  margin-bottom: 20px;
}

.hmhero_left {
  width: 50%;
  margin-left: auto;
}
/* -- hmhero area end -- */

/* -- hmhost area start -- */
#hmhost {
  background-color: var(--normalwhite);
  padding-bottom: 80px;
}

.hmhost_wrapper img {
  display: inline-block;
  width: 220px;
}

.hmhost_wrapper h2 {
  margin-top: 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hmhost_wrapper p {
  font-size: 18px;
  color: var(--redbg);
}

.hmhost_wrapper {
  max-width: 915px;
  margin-top: -145px;
  position: relative;
}
/* -- hmhost area end -- */

/* -- pmslider area start -- */
.pmslider_item {
  position: relative;
}

.pmslider_item img {
  display: block;
  width: 100%;
}

.pmslider_item {
  position: relative;
}

.pmslide_wrapper {
  position: absolute;
  width: 100%;
  left: 40px;
  bottom: 50px;
}

.pmslide_cnt h3 {
  font-size: 33px;
  color: var(--white);
  font-family: "Domaine Disp Nar";
}

.pmslide_cnt p {
  font-size: 18px;
  color: #fff;
  margin: 16px 0px;
  padding-right: 170px;
}

.pmslide_cnt a {
  color: var(--yeltext);
  border-color: var(--yeltext);
  margin-left: auto;
}

.pmslide_cnt a:after {
  background-color: var(--yeltext);
}

.pmslideLink {
  margin-right: 70px;
}

.pmslider_item p.roomsize {
  font-size: 18px;
  color: var(--yellowbg);
  margin-top: 5px;
  text-align: right;
  padding-right: 10px;
}

#pmslider {
  background-color: var(--normalwhite);
  padding-bottom: 130px;
}

.pmslider_wrapper {
  position: relative;
}

.arrow span {
  display: inline-block;
  cursor: pointer;
  position: absolute;
}

.arrow span img {
  display: inline-block;
  width: 70px;
}

.arrow span#left {
  top: 40%;
  left: 14%;
  z-index: 999;
}

.arrow span#right {
  top: 40%;
  right: 14%;
  z-index: 999;
}
/* -- pmslider area ends -- */

/* -- pmfecti area start -- */
#pmfecti {
  background-color: var(--normalwhite);
  padding: 55px 0px;
}

.pmfecti_wrapper h2 {
  text-transform: uppercase;
}

.pmfectti_list_group {
  margin-top: 30px;
}

.pmfectti_list_group ul li a {
  display: block;
  color: var(--yellowbg);
  font-size: 18px;
  padding: 8px 14px;
  border-bottom: 1px solid var(--yellowbg);
  transition: all 0.2s ease;
}

.pmfectti_list_group ul li:last-child a {
  border-bottom: 0;
}

.pmfecti_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.pmfecti_wrapper {
  max-width: 1070px;
  margin: auto;
}

.pmfectti_list_group ul li a:hover {
  opacity: 0.7;
}
/* -- pmfecti area end -- */

/* -- pmlocation area start -- */
#pmlocation {
  background-image: url(../img/redbg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 50px;
}

.pmlocation_heading {
  max-width: 400px;
  margin: auto;
}

.pmlocation_heading h2 {
  color: #fff;
}

.pmlocation_heading p {
  font-size: 18px;
  margin-top: 30px;
}

.pmlocationbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.pmlob_img {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pmlob_item {
  text-align: center;
  margin-top: 30px;
}

.pmlob_item img {
  display: inline-block;
  width: 50px;
}

.pmlob_item p {
  font-size: 16px;
  color: var(--white);
  letter-spacing: 2px;
}

.pmlob_item {
  width: 180px;
}
/* -- pmlocation area end -- */

/* -- hmmap area start -- */
#map img {
  display: block;
  width: 100%;
}
/* -- hmmap area end -- */

/* -- footer area start -- */
footer {
  background-color: var(--redbg);
  padding: 70px 0px;
}

.footer_wrapper {
  padding: 0px 100px;
}

.footer_top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_left a img {
  display: inline-block;
  width: 140px;
}

.footer_right img {
  display: inline-block;
  width: 180px;
}

.footer_middle_top h5 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer_middle_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fmb_left ul li a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  transition: all 0.2s ease;
  opacity: 0.7;
}

.fmb_left ul li a:hover {
  opacity: 1;
}

.fmb_right ul li {
  display: inline-block;
}

.fmb_right ul li {
  margin-left: 35px;
}

.fmb_right ul li a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
}

.fmb_right ul li a:hover {
  opacity: 0.7;
}

.footer_middle_bottom {
  margin-top: 30px;
}

.footer_middl {
  margin-left: -100px;
}

.footer_bottom_section {
  max-width: 565px;
  margin: auto;
  margin-left: 218px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
}

.footer_btn_cnt ul li a {
  display: inline-block;
  color: var(--white);
  font-size: 16px;
  margin-bottom: 5px;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.footer_btn_cnt ul li a:hover {
  opacity: 1;
}

.footer_bottom_section {
  margin-top: 30px;
}

.copyright p {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  margin-left: 218px;
  margin-top: 40px;
}
/* -- footer area end -- */

/* -- mobilefooter area start -- */
#mobilefooter {
  background-color: #fff;
}

.mobileft_link ul li a {
  display: block;
  color: #551709;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  border-bottom: 1px solid #f15623;
  padding: 10px 40px;
  padding-right: 10px;
  transition: all 0.2s ease;
}

.mobileft_link ul li a:hover {
  opacity: 0.7;
}

.footer_call ul {
  padding-left: 40px;
}

.footer_call ul li {
  margin-top: 15px;
}

.footer_call ul li a {
  display: inline-block;
  color: #561200;
  font-size: 14px;
}

.footer_call ul li a span {
  display: inline-block;
  margin-right: 15px;
  color: #d8aa93;
}

.footer_call ul li:last-child a {
  color: #f15623;
}

.footer_call ul li:last-child a span {
  color: #d8aa93;
}

.footer_social ul li {
  display: inline-block;
}

.footer_social ul li a {
  display: inline-block;
  font-size: 20px;
  color: #654931;
  transition: all 0.2s ease;
}

.footer_social {
  padding-left: 65px;
  margin-top: 25px;
}

.footer_social ul li {
  margin-right: 25px;
}

.footer_social ul li a:hover {
  opacity: 0.7;
}

.language ul li {
  display: inline-block;
}

.language {
  padding-left: 40px;
  margin-top: 40px;
}

.language ul li a {
  display: inline-block;
  font-size: 14px;
  color: #561200;
  margin-right: 40px;
  transition: all 0.2s ease;
}

.language ul li a:hover {
  opacity: 0.7;
}

#mobilefooter {
  padding-bottom: 215px;
}
/* -- mobilefooter area end -- */

/* -- mobileMenu area start -- */

#mobile_menu {
  background-color: #54170a;
  padding-bottom: 24px;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 9999999;
}

.mobile_menu_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile_menu_left a img {
  display: inline-block;
  width: 25px;
}

.menubar span {
  cursor: pointer;
}

.menubar span img {
  display: inline-block;
  width: 30px;
}

.mobile_logo img {
  display: inline-block;
  width: 78px;
  margin-top: -44px;
}

img.mbg {
  display: block;
  width: 100%;
}

.mobile_logo {
  position: relative;
  z-index: 9;
}

.mobile_logo:after {
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  background-color: #54170a;
  position: absolute;
  left: -31px;
  top: -65px;
  border-radius: 50%;
  z-index: -9;
}

.mobile_menu_left {
  position: relative;
  top: 12px;
}

.menubar {
  position: relative;
  top: 14px;
}

.offcanvas {
  z-index: 999999999999;
  height: 80vh;
}

.mobilelogo img {
  width: 95px;
}

.menuLink ul li a {
  color: var(--redbg);
  text-transform: uppercase;
  margin-bottom: 8px;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.menuLink ul li a.active {
  border-color: #fc5000;
}

/* -- mobileMenu area end -- */

/* ============================
    Homepage end
============================ */

/* ============================
    Resedence start
============================ */

.rsbg .hmhero_wrapper {
  top: -65px;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -- reslider area start -- */
.reslider_left {
  position: relative;
}

#reslider {
  background-color: var(--normalwhite);
  padding-top: 75px;
  padding-bottom: 35px;
}

.res_one_nav span {
  width: 55px;
  height: 55px;
  border: 2px solid #d7aa93;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: 3%;
  z-index: 999;
}

.res_one_nav span img {
  width: 14px;
}

.res_one_nav span#res_one_right {
  left: inherit;
  right: 3%;
}

#reslider .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  margin: 0 3px;
}

#reslider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #d7aa93;
}

#reslider .owl-theme .owl-dots .owl-dot.active span {
  background-color: #654931;
}

#reslider .owl-theme .owl-dots .owl-dot.active span,
#reslider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #654931;
}

.reslider_right p {
  font-size: 18px;
  color: var(--redbg);
  margin-top: 15px;
  margin-bottom: 90px;
}

.reslider_right a {
  color: #d7aa93;
  border-color: #d7aa93;
}

.reslider_right a:after {
  background-color: #d7aa93;
}

.reslider_right {
  padding-left: 10px;
}
/* -- reslider area end -- */

/* -- resnai area start -- */
#resnai {
  padding-left: calc((100% - 1300px) / 2);
  padding-top: 30px;
  padding-bottom: 30px;
}

.resnai_left_wrapper {
  padding-right: 50px;
}

.resnai_left_wrapper p {
  font-size: 18px;
  color: var(--redbg);
  margin-top: 24px;
}

#resnai .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  margin: 0 3px;
}

#resnai .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: relative;
  top: 16px;
  right: 10px;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #d7aa93;
}

#resnai .owl-theme .owl-dots .owl-dot.active span {
  background-color: #654931;
}

#resnai .owl-theme .owl-dots .owl-dot.active span,
#resnai .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #654931;
}

#resnai .owl-dots {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.resnai_para p {
  font-size: 16px;
  color: var(--redbg);
  margin-top: 5px;
  margin-left: 10px;
}

.hmhero_left p {
  text-transform: uppercase;
}

/* -- resnai area end -- */

/* ============================
    Resedence end
============================ */

/* ============================
    restype start
============================ */
.p3slider .pmslide_wrapper {
  bottom: 25px;
}

/* -- p3exper area start -- */
.p3expert_heading {
  max-width: 650px;
  margin: auto;
  text-align: center;
}

.p3expert_heading h2 {
  text-transform: uppercase;
}

.p3expert_heading p {
  font-size: 18px;
  color: var(--redbg);
  margin-top: 15px;
}

.p3expert_item_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 55px;
}

.p3expert_item img {
  display: block;
  width: 100%;
}

.p3expert_item p {
  font-size: 18px;
  color: var(--redbg);
  margin-top: 10px;
  text-align: center;
}

.p3expert_item_wrapper {
  margin-top: 55px;
}

#p3expert {
  padding-top: 40px;
  padding-bottom: 120px;
  overflow: hidden;
}
/* -- p3exper area end -- */

/* ============================
    restype end
============================ */

/* ============================
    service start
============================ */

/* -- serviceslide area start -- */
.sv_item {
  position: relative;
}

.sv_item h3.inititle {
  font-size: 40px;
  font-family: "Domaine Disp Nar";
  color: var(--white);
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.sv_item_cnt {
  background-color: var(--yeltext);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
  transform: scale(0);
}

.sv_item:hover .sv_item_cnt {
  transform: scale(1);
}

.sv_item_cnt h3 {
  font-size: 32px;
  font-family: "Domaine Disp Nar";
  color: var(--white);
  margin-bottom: 25px;
}

.sv_item_cnt p {
  color: #fff;
}

#serviceslider .owl-theme .owl-dots .owl-dot span {
  width: 40px;
  height: 3px;
  margin: 0 3px;
}

#serviceslider .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
  position: relative;
  top: 16px;
  right: 10px;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: #d7aa93;
}

#serviceslider .owl-theme .owl-dots .owl-dot.active span {
  background-color: #654931;
}

#serviceslider .owl-theme .owl-dots .owl-dot.active span,
#serviceslider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #654931;
}

.serviceslider_wrapper {
  margin-left: -60px;
  margin-right: -60px;
}

#serviceslider {
  background-color: var(--normalwhite);
  padding-bottom: 135px;
}

.sv-big-slider p {
  padding-right: 0;
  text-align: center !important;
}
/* -- serviceslide area end -- */

/* -- mbsvslider area start -- */
.sv_item img {
  display: block;
  width: 100%;
}

.mbsvslider_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
/* -- mbsvslider area end -- */

/* ============================
    service end
============================ */

/* ============================
    gellery start
============================ */

/* -- gellery area start -- */
.gellery_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 35px;
}

.gell_item img {
  display: block;
  width: 100%;
}

.gell_item p {
  font-size: 16px;
  margin-top: 6px;
  color: var(--redbg);
  text-align: center;
}

#gellery {
  background-color: var(--normalwhite);
  padding-bottom: 100px;
}

.gellery_wrapper {
  margin-left: -60px;
  margin-right: -60px;
}
/* -- gellery area end -- */

/* ============================
    gellery end
============================ */

/* ============================
    location start
============================ */
.locslider {
  background-color: var(--normalwhite);
}

.lclocation_wrapper {
  display: flex;
  justify-content: space-between;
}

.lclocation_item ul li {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lclocation_item ul li span {
  display: inline-block;
  margin-left: 70px;
}

.lclocation_item {
  position: relative;
  margin-top: 55px;
}

.lclocation_item img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.lclocation_item img.lc1 {
  width: 30px;
  left: -50px;
}

.lclocation_item img.lc2 {
  width: 50px;
  left: -80px;
}

.lclocation_item img.lc3 {
  width: 30px;
  left: -60px;
}

/* ============================
    location end
============================ */

/* ============================
    contact start
============================ */
#contact {
  background-color: var(--normalwhite);
  padding-bottom: 100px;
}

.contact_heading h2 {
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 70px;
}

.contact_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 20px;
  column-gap: 120px;
}

.contact_form_input input,
.contact_form_input select,
.contact_form_input textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid var(--yeltext);
  font-size: 15px;
  color: #000;
  outline: none;
  padding: 0px 15px 10px;
  margin-top: 35px;
  letter-spacing: 1px;
}

.contact_form_input input::placeholder,
.contact_form_input textarea::placeholder {
  color: #000;
  opacity: 1;
  text-transform: uppercase;
  font-size: 15px;
}

.contact_form_input select {
  text-transform: uppercase;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: top 8px right 90px;
  background-size: 12px;
  padding-right: 100px;
}

.contact_form_input textarea {
  resize: none;
  height: 140px;
}

.contact_form_submit button {
  display: block;
  width: 100%;
  background-color: var(--yeltext);
  border: 0;
  outline: none;
  font-size: 15px;
  color: var(--white);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 8px;
  padding: 10px;
  transition: all 0.2s ease;
}

.contact_form_submit button:hover {
  opacity: 0.7;
}

.contact_right_heading h2 {
  text-transform: uppercase;
}

.contact_right_images h4 {
  text-transform: uppercase;
  font-size: 22px;
  color: var(--redbg);
  letter-spacing: 3px;
  margin-top: 20px;
  margin-left: 35px;
}

.contact_right_images_wrapper {
  display: flex;
  column-gap: 18px;
  margin-left: 40px;
  margin-top: 15px;
}

.criw_left img {
  display: inline-block;
  width: 13px;
}

.criw_right ul li {
  text-transform: uppercase;
  color: var(--redbg);
  letter-spacing: 2px;
  font-size: 15px;
  margin-bottom: 3px;
}

.criw_right ul li a {
  display: inline-block;
  text-transform: uppercase;
  color: #f15623;
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 8px;
  transition: all 0.2s ease;
}

.criw_right ul li a:hover {
  opacity: 0.7;
}

.contact_right_link ul li a {
  display: inline-block;
  text-transform: uppercase;
  color: var(--redbg);
  letter-spacing: 2px;
  font-size: 15px;
  margin-bottom: 3px;
  transition: all 0.2s ease;
}

.contact_right_link ul li a:hover {
  opacity: 0.7;
}

.contact_right_link ul li a img {
  display: inline-block;
  width: 16px;
  margin-right: 18px;
}

.contact_right_link {
  margin-top: 20px;
  margin-left: 40px;
}

.contact_right_link ul li:last-child a {
  color: #f15623;
}

/* ============================
    contact end
============================ */
